main {
	flex: 1;
}

main ul {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 860px;
	gap: 20px;
	list-style: none;
}

li.medic-item {
	background: #FFF;
	box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 2px;
}

li.medic-item header {
	text-align: center;
	padding: 18px;
}

li.medic-item header h3 {
	display: block;
	color: #000;
}

.medic-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0px 18px 18px;
}

.medic-contraindications {
	margin-top: 18px;
}

.medic-effects h4, .medic-contraindications h4 {
	padding: 5px;
}

.medic-effects ul, .medic-contraindications ul {
	display: flex;
	flex-direction: column;
}

.medic-info div ul li {
	width: fit-content;
	padding: 0px 3px;
	color: #666;
	transition: color 0.3s;
}

.medic-info div ul li:hover {
	color: #FF1228;
}

.medic-item .medic-add2cart {
	display: grid;
	grid-template-columns: 5fr 4fr;
	background: #FF2451;
	border-radius: 5px;
	padding: 2px;
	font-size: 16px;
	color: #FFF;
	cursor: pointer;
	transition: background 0.3s;
}

.medic-add2cart:hover {
	background: #AF2451;
}

.medic-add2cart strong {
	padding: 15px 5px;
}

.medic-add2cart .medic-price {
	background: #FFF;
	border-radius: 4px;
	padding: 15px 15px;
	text-align: center;
	font-weight: bold;
	color: #FF2451;
	transition: color 0.3s;
}

.medic-add2cart:hover .medic-price {
	color: #AF2451;
}